*{
    padding: 0;
    margin: 0;
}
.game{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
#btn{
    font-size: 2rem;
    width: 100px;
    border: 3px solid black;
    background-color: lightgreen;
    margin-top: 1rem;
    margin-left: 200px;
}
#btn:hover{
    background-color: yellow; 
}
#btn:active{
    background-color: red;
}
.slider{
/*    display: none;*/
    visibility: hidden;
    background-color: red;
    height: 20px;
    width: 100px;
    position: relative;
}
.slider1{
/*    display: block;*/
    visibility: visible;
/*    top: 480px !important;*/
}
/*
.slider2{
    top: 460px;
}
.slider3{
    top: 440px;
}
.slider4{
    top: 420px;
}
.slider5{
    top: 400px;
}
.slider6{
    top: 380px;
}
.slider7{
    top: 360px;
}
*/
/*
.slider8{
    top: 340px;
}
.slider9{
    top: 320px;
}
.slider10{
    top: 300px;
}
.slider11{
    top: 280px;
}
.slider12{
    top: 260px;
}
.slider13{
    top: 240px;
}
.slider14{
    top: 220px;
}
.slider15{
    top: 200px;
}
.slider16{
    top: 180px;
}
.slider17{
    top: 160px;
}
.slider18{
    top: 140px;
}
.slider19{
    top: 120px;
}
.slider20{
    top: 100px;
}
.slider21{
    top: 80px;
}
.slider22{
    top: 60px;
}
.slider23{
    top: 40px;
}
.slider24{
    top: 20px;
}
.slider25{
    top: 0px;
}
*/
.animate{
    animation: side 4s infinite linear;
}
@keyframes side{
    0%{left:0px}
    50%{left:400px}
    100%{left:0px}
}